.carousel {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.carousel .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.carousel .left-arrow, .carousel .right-arrow {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.carousel .right-arrow {
    right: 32px;
}

.carousel .left-arrow {
    left: 32px;
}

@media screen and (max-width: 768px) {
    .carousel .left-arrow, .carousel .right-arrow {
        position: static;
        margin-top: 20px;
    }
}